
<% include _shared/header %> 
<div class="container">
    <div class="row">
        <div class="col-lg-12 py-5">
            <!-- main content -->
            <div>Hey</div>
        </div>
    </div>
</div>
<% include _shared/footer %> 